$gradient-orange: linear-gradient(0.35turn, #fbab7e, #f7ce68);

.wrapper {
  width: 400px;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: grid;
  overflow: hidden;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 130px repeat(5, 1fr);

  .display {
    grid-column: 1/5;
    background-image: $gradient-orange;

    font-size: 3rem;
    // line-height: 114px;
    text-align: right;
    padding: 6px 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  button {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transform: scale(0.9);
    }
  }

  .btn-0 {
    grid-column: 1/3;
  }
}
