.wrapper {
  padding: 36px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .price {
    font-weight: 600;
  }

  .add-product {
    display: flex;
    align-items: center;

    .quantity {
      display: flex;
      align-items: center;

      & > p {
        margin-bottom: 0;
      }

      .minus,
      .increase {
        background-color: rgb(211, 188, 14);
        color: #fff;
        padding: 1px 4px;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 4px;

        &:hover {
          opacity: 0.8;
        }
      }

      .current-quantity {
        padding: 1px 5px;
        cursor: text;
      }

      .increase {
      }
    }
    .add-btn {
      background-color: rgb(211, 188, 14);
      color: #fff;
      font-weight: 600;
      border: none;
      padding: 1px 3px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
