.wrapper {
  margin: 48px 0;
  padding: 36px;
  background-color: #333;

  .title {
    font-size: 3.6rem;
    color: rgb(100, 206, 245);
    margin: 0 0 12px;
  }

  .main-content {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 4px;
    overflow-y: auto;
  }

  .add-todo {
    margin-top: 28px;
    display: flex;

    input {
      flex: 1;
      padding: 6px;
      border-radius: 4px;
      outline: none;
    }

    .add-btn {
      font-size: 1.6rem;
      padding: 0 16px;
      border-radius: 4px;
      margin-left: 12px;
      background-color: #fff;
      color: #333;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

// -------------
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 14px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  input[type="checkbox"] {
    margin-right: 8px;
    padding: 4px;
    width: 18px;
    height: 18px;
    transform: translateY(15%);
  }

  button {
    padding: 0 12px;
    min-width: 60px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    border-color: transparent;
    color: #333;
  }

  .edit-btn {
    background-color: rgb(31, 222, 91);

    &:hover {
      background-color: rgb(98, 221, 137);
    }
  }

  .delete-btn {
    margin-left: 12px;
    background-color: rgb(224, 53, 53);

    &:hover {
      background-color: rgb(228, 85, 85);
    }
  }
}
