.wrapper {
  max-width: 70%;
  width: 100%;
  margin: 36px auto 52px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 16px;

  .title,
  .date {
    text-align: center;
  }

  .title {
    font-size: 3.6rem;
    margin-bottom: 0;
  }

  .date {
    color: rgba(0, 0, 0, 0.3);
  }

  .input-group {
    display: flex;
    align-items: center;
    margin: 6px 0 18px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  }

  .list-task {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    max-height: 400px;
    overflow-y: auto;
    padding: 16px 11px;
    margin-bottom: 24px;
  }
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  .task-name {
    margin: 0;
  }
}
