.wrapper {
  padding: 0 36px;

  .heading {
    font-size: 4rem;
    font-weight: 700;
    color: #222;
  }

  .auth {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .info {
      margin-left: 12px;

      .name,
      .createdAt {
        margin: 0;
      }

      .name {
        font-style: 1.6rem;
        font-weight: 600;
      }

      .createdAt {
        font-size: 1.4rem;
        color: #757575;
      }
    }
  }
}
