.wrapper {
  display: grid;
  gap: 7px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  padding: 6px 8px;
  overflow: auto;

  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 200px repeat(2 1fr);

  grid-template-areas:
    "header header header header "
    "content content content sidebar"
    "content content content cc";

  .header {
    grid-area: header;
    overflow: hidden;

    .banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .category {
    grid-area: sidebar;

    background-color: var(--white-color);
    .categories {
      flex-direction: column;
      border: none;
      align-items: flex-start;
      padding-left: 0;

      .item {
        border: none;
        color: var(--shop-color);
        border-bottom: 1px solid var(--shop-color);
        width: 100%;
        border-radius: 0;
        font-weight: 500;

        &:hover {
          background-color: var(--shop-color);
          color: var(--white-color);
        }
      }
    }
  }

  .main-content {
    grid-area: content;
    background-color: var(--white-color);
  }
}
