.wrapper {
  border: 1px solid #333;
  display: flex;
  align-items: center;

  .avatar {
    width: 50%;
    height: 50%;
  }
  .profile {
    .info-list {
      list-style: none;
      padding-left: 12px;

      .info-item {
        padding: 6px 0;
      }
    }
  }
}
