// variable
$h-header: 80px;
$white-color: #fff;
$lgreen-color: rgb(118, 168, 43);
$blue-color: rgb(65, 101, 220);

%buttonStyle {
  outline: none;
  border: none;
  padding: 30px 20px;
  color: $white-color;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin textOverFlow {
  overflow: hidden;
  white-space: nowrap;
}

.landing-page {
  display: grid;

  grid-template-columns: 1fr;

  //   header
  .header {
    height: $h-header;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: $white-color;

    .travel-agency {
      & > span {
        font-weight: 700;
        font-size: clamp(1rem, 2vw, 3rem);
      }

      & > span:first-child {
        color: $lgreen-color;
      }

      & > span:last-child {
        color: $blue-color;
      }
    }

    .connect-social {
      font-size: clamp(1.2rem, 1.3vw, 1.6rem);
      @include textOverFlow();
    }

    .icon {
      font-size: clamp(1rem, 2vw, 2.6rem);
      margin: 0 6px;
      cursor: pointer;
    }

    .contact-block {
      display: flex;
      align-items: center;
      color: $white-color;
      background-color: $lgreen-color;
      height: 100%;
      padding: 0 20px;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.1);
      }

      .phone-icon {
        font-size: clamp(1rem, 2vw, 2.6rem);
        transform: rotate(-45deg);
        margin: 0 12px 0 0;
      }

      &--content {
        & > p {
          margin-bottom: 0;
          line-height: 1.2;
        }

        & > p:first-child {
          font-size: clamp(1rem, 1.2vw, 1.5rem);
          font-weight: 500;
          letter-spacing: -1px;
          @include textOverFlow();
        }

        & > p:nth-child(2) {
          font-size: clamp(1rem, 1.2vw, 2.4rem);
          @include textOverFlow();
          font-weight: 700;
        }
      }
    }
  }

  //   banner
  .banner {
    margin-top: $h-header;
    position: relative;

    .image {
      width: 100%;
    }

    .banner-content {
      position: absolute;
      top: 30%;
      left: 10%;
      color: $white-color;

      & > h3 {
        font-weight: 400;
        letter-spacing: -2px;
        font-size: clamp(1rem, 6vw, 4rem);
      }

      & > h1 {
        font-size: clamp(1rem, 8vw, 5rem);
        font-weight: 700;
        color: $white-color;
        @include textOverFlow();
      }

      .get-offer {
        @extend %buttonStyle;
        background-color: orange;
        padding: 16px 12px;
        border-radius: 2px;
        font-size: clamp(0.6rem, 1vw, 1.6rem);
      }
    }
  }

  //   options
  .options {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 36px 0;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto;
    }

    @media screen and (max-width: 560px) {
      .list-opt {
        flex-direction: column;

        a {
          margin: 8px 0;
        }
      }
    }

    a {
      @extend %buttonStyle;
      font-size: clamp(1rem, 2vw, 2rem);
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: clamp(2rem, 3vw, 3rem);
        margin-right: 8px;
      }
    }

    .consulting-btn {
      background-color: orange;
    }

    .travel-guide-btn {
      background-color: $blue-color;
      //   margin: 0 24px;
    }

    .hotel-info-btn {
      background-color: $lgreen-color;
    }
  }

  //   main title
  .main-title {
    text-align: center;
    padding: 36px 0;

    & > h2 {
      font-weight: 700;
      font-size: 4rem;
      color: rgb(6, 6, 37);
    }

    & > p {
      font-weight: 600;
    }
  }

  //   offer
  .offers {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 36px;

    .offer {
      width: 30%;
      border: none;

      .offer-image {
        width: 100%;
        object-fit: contain;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(0.95);
          cursor: pointer;
          opacity: 0.9;
        }
      }

      .card-title {
        font-weight: 700;
        color: rgb(6, 6, 37);
        font-size: 2rem;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  //   footer
  .footer {
    height: $h-header;
    background-color: rgb(6, 6, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;

    small:first-child {
      border-right: 1px solid $white-color;
      padding-right: 6px;
      margin-right: 6px;
    }
  }
}
