.wrapper {
  .table {
    width: 100%;
    height: 150px;
    border-collapse: collapse;

    .heading {
      background-color: #2879ff;
      height: 40px;
    }

    thead th {
      font-weight: 500;
      color: #fff;
    }

    td:first-child {
      padding-left: 12px;
      font-weight: 500;
      background-color: #94aacd;
    }
  }
}
