@import 'antd/dist/antd.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --h-header: 66px;
    --text-color: #272727;
    --main-color: #1473e6
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
body .ck.ck-toolbar.ck-toolbar_grouping
{
    border-color: transparent;
}

body .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused):focus-visible {
    border-color: transparent;
    outline: none;
}

body .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    border: none;
    box-shadow: var(--ck-inner-shadow),0 0;
    outline: none;
}