$h-header: 80px;
$background: #000;
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $h-header;
  font-size: clamp(2rem, 3vw, 3rem);
  padding: 0 48px 0 8px;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  z-index: 1;

  .logo {
    color: #fff;
  }

  .nav-bar {
    color: #fff;
    font-size: clamp(0.8rem, 2.4vh, 2rem);
    width: 40%;
    display: flex;
    justify-content: space-between;

    .nav-item {
      padding: 0 8px;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom-color: #fff;
      }
    }

    .search-icon {
      position: relative;
      top: 0px;
      font-size: 2.6rem;
      cursor: pointer;
      padding: 0 4px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.main-content {
  margin-top: $h-header;
  background-color: #000;
  color: #fff;
}
