:root {
    --black-color: #000;
    --white-color: #fff;
    --shop-color: rgb(27, 117, 173);

}

.btn,
a {
  font-size: 1.6rem;
  padding: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Custom class bootstrap */

.card-img-top::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 12px;
    background-color: black;
    top: 0;
    right: 0;
    z-index: 1000;
}