.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px;
  gap: 6px;
  margin: 36px 0;

  .location {
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 16px;
  }
}
