.wrapper {
  margin-top: 24px;
  .title {
    z-index: -1;
    border-color: transparent;
    font-size: 3.2rem;
    font-weight: 500;
    width: 100%;
    margin-bottom: 16px;
    outline: none;
  }
}
